<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang chủ</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  </head>
  <body>
    <header><%- include("./header.ejs") %></header>
    <main>
      <div class="container mx-auto p-4">
        <div class="flex flex-col md:flex-row md:space-x-6">
          <div class="md:w-1/3">
            <img src="<%= product.picture %>" class="w-auto h-[70vh] rounded-lg shadow-xl" />
          </div>
          <div class="md:w-2/3 mt-4 md:mt-0">
            <p class="text-5xl font-bold mb-2"><%= product.name %></p>
            <div class="flex gap-12 font-semibold text-3xl mt-14 mb-12">
              <div class="space-y-6">
                <p>Thương hiệu: <%= product.Brand.name %></p>
                <p>Thể loại: <%= product.Category.name %></p>
              </div>
              <div class="space-y-6">
                <p>Nhiên liệu: <%= product.Material.name %></p>
                <p>Nguồn gốc: <%= product.Origin.name %></p>
              </div>
            </div>
            <p class="font-semibold text-3xl mb-11">Màu sắc: <%= product.color %></p>
            <div class="flex font-semibold text-3xl gap-6 mb-10 items-center">
              <p>Số lượng:</p>
              <div class="quantity-box">
                <button type="button" id="minusBtn" class="w-[40px] bg-gray-600 text-white pb-1">-</button>
                <input type="number" id="quantityInput" name="quantity" class="w-[50px]" value="1" min="1" disabled />
                <button type="button" id="plusBtn" class="w-[40px] bg-gray-600 text-white pb-1">+</button>
              </div>
              <p class="font-thin text-xl">Còn <%= product.quantity %> sản phẩm</p>
            </div>
            <p class="font-bold text-3xl mb-7">Đơn giá: <span class="text-blue-500"><%= product.unitPrice.toLocaleString() %> VND</span></p>
            <div class="mb-2 h-7">
              <p class="font-semibold text-xl"></p>
            </div>
            <button data-id="<%= product.id %>" class="cart bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700 transition"><i class="fa-solid fa-cart-shopping"></i> Thêm vào giỏ hàng</button>
          </div>
        </div>
        <div class="mt-7 space-y-3">
          <p class="font-bold text-3xl">Mô tả sản phẩm</p>
          <p class="text-xl"><%= product.description %></p>
        </div>
      </div>
    </main>
    <footer><%- include("./footer.ejs") %></footer>
  </body>
  <script>
    const minusBtn = document.getElementById('minusBtn');
    const plusBtn = document.getElementById('plusBtn');
    const quantityInput = document.getElementById('quantityInput');

    plusBtn.addEventListener('click', () => {
      quantityInput.value = Number(quantityInput.value) + 1;
    });

    minusBtn.addEventListener('click', () => {
      if (Number(quantityInput.value) > 1) {
        quantityInput.value = Number(quantityInput.value) - 1;
      }
    });

    let btn = document.querySelector('.cart');
    btn.addEventListener('click', async () => {
      const productId = btn.dataset.id;
      const customerId = '<%= customer.id %>';
      const quantity = Number(quantityInput.value);
      try {
        const res = await fetch('/cart', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ productId, customerId, quantity }),
        });
        const result = await res.json();
        if (result.success) {
          alert('Đã thêm sản phẩm vào giỏ hàng!');
        } else {
          alert('Thêm sản phẩm vào giỏ hàng thất bại: ' + result.error);
        }
      } catch (error) {
        alert('Đã xảy ra lỗi khi thêm sản phẩm vào giỏ hàng.');
      }
    });
  </script>
</html>
